<section id="content" class="container">

</section>

<div class="lead-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="text-align: center">
        <img src="/assets/images/gophertrain_logo.svg" alt=""  />
      </div>
    </div>
  </div>
</div>

<section class="container">

  <section class="row">
    <article class="col-md-4">
      <h3><span class="grey">Go</span> Community</h3>
      <p>
      Gopher Academy exists because we believe in the Go programming language. More importantly, we see the opportunity to help shape a community that is inclusive, welcoming, helpful, and vibrant.
      </p>
      <p><a class="" href="/about">Read more &raquo;</a></p>
    </article>
    <article class="col-md-4">
      <h3><span class="grey">Customizable</span> Learning</h3>
      <p>
Select the right training modules for your company, or conference needs. Work with us and we will build the perfect training solution for you to be delivered onsite or online in real-time by industry leaders, anywhere in the world.
      </p>
      <p><a class="/team" href="/training">Read more &raquo;</a></p>
    </article>
    <article class="col-md-4">
      <h3><span class="grey">World Class</span> Conferences</h3>
      <p>
We are the organizers of the first conference dedicated to the Go programming language, Gophercon. With sessions led by both industry veterans and rising stars, attendees come from around the world to learn, network and participate in fun after hours group activities.
      </p>
      <p><a class="" href="/conferences">Read more &raquo;</a></p>
    </article>
  </section>

</section>
