<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->
<head>

  <!-- Basic meta tags -->
  <meta charset="utf-8">
  <title>GopherAcademy - Conferences, Training, and Community</title>
  <meta name="description" content="GopherAcademy provides conferences, education, training, and community services to the Go programming language community.">
  <meta name="keywords" content="golang, training, go training, gophercon, go conference, education">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Styles -->
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <!--[if IE 7]>
  <link href="/static/css/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" />
  <![endif]-->

  <!-- Web Fonts  -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css' />

  <!-- Javascript -->

  <!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
  {{ partial "header.html" . }} 
	<!-- Content
	================================================== -->
	<section id="content" class="container">

	<div class="hero-unit">
		<p>The Best Go Content on the Internet</p>
	</div>

	<hr />

	<!-- #blog -->
	<div class="row" id="blog">

		<!-- posts -->
		<div class="span8"> 

{{ range .Paginator.Pages }}
			<!-- Default blog item
			================================================== -->
			<article class="post">

				<div class="entry-body">
					<a href="{{.Permalink}}"><h3 class="entry-title">{{ .Title }}</h3></a>
						<h2 class="entry-title">Contributed by <strong>
            <script type="text/javascript">
             var arr = [];
             {{range .Params.author }}
             arr.push({{ . }})
             {{ end }}
             document.write(arr.join(" & "));
             </script>
             </strong>
	     </h2>
					<p>{{ .Summary }}</p>
					<p><a href="{{.Permalink}}" class="readmore">Read more...</a></p>
				</div>
				<div class="entry-meta">
					<span class="entry-date">{{ .Date.Format  "Jan 02, 2006" }} </span>
				</div>
				<div class="clr"></div>

			</article><!-- end item -->
{{ end }}
<div class="pagination">
{{ template "_internal/pagination.html" . }}
</div>
			<hr />



			
		</div><!-- end .span8 -->

		<!-- Sidebar with widgets
		================================================== -->
		<div class="sidebar span4">


          <!-- GopherCon embed -->
<div class="widget">

				<h4>Register for GopherCon 2019</h4>
     <!-- Bizzabo Tickets Widget Start -->
<div class="bizzabo-tickets-widget" data-event-id="206610" data-params="isInMinisite=true&widgetId=16154"></div>
<a href="https://www.bizzabo.com?utm_source=tickets_widget&utm_medium=powered_by&utm_campaign=tickets_widget" target="_blank" style="text-align: right; padding-right: 17px; text-decoration: none; width: 100%; display: inline-block; margin-top: 5px; box-sizing: border-box;" class="bizzabo-link-class">Powered by Bizzabo</a>
<script type="text/javascript">(function(){var bz=document.createElement("script");bz.type="text/javascript";bz.async=true;bz.src="https://organizer.bizzabo.com/widgets/tickets/tickets.js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(bz,s);})();</script>
<!-- Bizzabo Tickets Widget End -->
            </div>
			<!-- search plugin -->
			<div class="widget">
	          <form name="google-search" method="get" action="https://www.google.com/search">

            <div class="post_search input-group">
              <input type="hidden" name="sitesearch" value="blog.gopheracademy.com">
              <input type="text" name="q" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search The Blog</button>
              </span>
	    </div></form>			</div>




			<div class="widget">
				<h4>Series List</h4>

				<ul>
				{{ range $name, $taxonomy := .Site.Taxonomies.series}}
				
      <script type="text/javascript">
        function titleize(slug) {
            var words = slug.split("-");
            return words.map(function(word) {
                var series = word.charAt(0).toUpperCase() + word.substring(1).toLowerCase();
		return series.replace("Gophercon", "GopherCon");
            }).join(' ');
        }
        var str = "{{$name}}";
        var str2 = titleize(str)
	document.write('<li class="smallmenu"><a href="/series/{{ $name | urlize }}">');
        document.write(str2);
        document.write('</a></li>');
      </script>

      {{ end }}

</div>
		</div><!-- end sidebar -->


	</div><!-- end #blog -->
  
	</section> 
  
  {{ partial "footer.html" . }}

</body>

</html>
