{{ partial "header.html" . }}
			<div class="header-content">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 interior-header">

              <a href="http://www.gophercon.com"><img src="/images/gc-banner.png" alt="GopherCon 2016" title="GopherCon 2016"  /></a>

						</div><!-- col-md-8 -->
					</div><!-- row -->
				</div><!-- container -->
			</div><!-- header-content -->
  <div id="article-body">
      {{ range .Paginator.Pages }}
	      <article>
		      <p class="lead">
            <a href="{{ .Permalink }}" class="article-title">{{ .Title }}</a>

            <div id="dat">

		        <p class="meta">Contributed by <mark>
            <script type="text/javascript">
             var arr = [];
             {{range .Params.author }}
             arr.push({{ . }})
             {{ end }}
             document.write(arr.join(" & "));
             </script>
             </mark>
             &nbsp;<i class="fa fa-calendar-o"></i> {{ .Date.Format  "2006-01-02" }}</p>

            </div>
          </p>
		      <div class="post">
            <div id="content-font"><p>{{ .Summary }}</br></br><a href="{{ .Permalink }}" class="readmore">Read more...</a></p></div>

          </div>
	      </article>
      {{ end }}


  {{ partial "pagination.html" . }}
  {{ partial "footer.html" . }}
  </div>


 {{ partial "scroll.html" . }}
