<footer id="footer" style="display: none">
  <div class="container">
    <div class="row">
      <div class="span4">
        <a class="brand" href="index.html">
          GopherAcademy
        </a>
        <p>
          Conferences and training by industry professionals.
        </p>
      </div>
      <div class="span4 social-networks">
        <h3>Find us elsewhere</h3>
        <p>
          <a class="social-network twitter"></a>
          <a class="social-network facebook"></a>
          <a class="social-network linkedin"></a>
        </p>
      </div>
      <div class="span4 newsletter">
        <h3>Newsletter</h3>
        <p>Subscribe to our monthly newsletter and be the first to know about our news and special deals!</p>
        <img class="ajax-loader" src="/assets/img/ajax-loader.gif" alt="" />
        <form method="post" id="newsletter-form">
          <input type="text" placeholder="Enter your E-mail" name="subscribe" />
          <input type="hidden" name="bot" />
          <!-- SPAM protection -->
          <button type="submit" class="icon-ok" id="newsletter-subscribe"></button>
        </form>
      </div>
    </div>
    <!-- end .row -->
  </div>
  <!-- end .container -->
</footer>

<footer id="copyright">
  <div class="container">
    <div class="row">
      <div class="span4">
        &copy; 2019 by <a>GopherAcademy</a>
      </div>
      <div class="span4">
        <a href="#" title="Send us email">info@gopheracademy.com</a>
      </div>
      <div class="span4">
      </div>
    </div>
    <!-- end .row -->
  </div>
  <!-- end .container -->
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40924989-2', 'auto');
  ga('send', 'pageview');

</script>
