<header id="header">
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">GopherAcademy</a>
        <ul class="nav">
          <li><a href="https://gopheracademy.com" title="Home">Home</a></li>
	  <li class="dropdown">
	    <a href="/about" title="About Gopher Academy">About Us</a>
	    <ul>
          	<li><a href="/team" title="Meet the Team">Meet the Team</a></li>
        	<li><a href="/coc" title="Code of Conduct">Code of Conduct</a></li>
           </ul>
	  </li>
	  <li class="dropdown">
	    <a href="/training" title="Training">Training</a>
	    <ul>
          	<li><a href="/courses" title="Our work">Online Courses</a></li>
          	<li><a href="/events" title="Our work">Upcoming Events</a></li>
          	<li><a href="/instructors" title="Our team">Our Team</a></li>
          	<li><a href="/contact" title="Contact us">Contact</a></li>
           </ul>
	  </li>
	  <li class="dropdown">
	    <a href="/conferences" title="Conferences">Conferences</a>
	    <ul>
          	<li><a href="https://gophercon.com" title="GopherCon 2017">GopherCon 2017</a></li>
           </ul>
	  </li>
        <li><a href="https://blog.gopheracademy.com" title="Blog">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

